body {
	background-image: url(../img/bg.png);
	min-width: 1024px;
}
div.content {
	width: 70%;
	text-align: justify;
	padding: 5%;
	background-color: white;
	display: inline-block;
	position: relative;
	left: 10%;
	margin: 50px auto 0;
}
#button {	
	position: fixed;
	left:2%;
	top: 92%;
	display: inline-block;
	font-size: 90%;
  	font-weight: 700;
  	color: rgb(209,209,217);
  	text-decoration: none;
  	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  	padding: .0em 1em;
  	outline: none;
  	border-radius: 3px;
  	background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  	box-shadow:
   	0 1px rgba(255,255,255,.2) inset,
   	0 3px 5px rgba(0,1,6,.5),
   	0 0 1px 1px rgba(0,1,6,.2);
  	transition: .2s ease-in-out;
}
.header{
	color: rgba(0, 0, 0, 0)
}
@media screen and (orientation:portrait){
@media screen and (max-width: 480px ){

	div.content {
		width: 90%;
		margin: 0px auto 0;
		display:block;
		left: 0%;
	}
	body {
		padding:0px;
		margin:0px;
	}
	.header {
		background: green;
		height:70px;
		color:black; 
	}
	#button {	
		height:70px; 
		width:70px;
		top:0px;
		left:2%;
		display: inline-block;
		font-size: 0px;
	  	font-weight: 0px;
	  	color: rgb(209,209,217);
	  	text-decoration: none;
	  	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	  	padding: .0em 1em;
	  	outline: none;
	  	border-radius: 0px;
	  	background: rgb(0, 100, 0);
	  	box-shadow:none;
	  	transition: .2s ease-in-out;
	  	position:fixed;
	}
	#button:hover{
		height:70px; 
		width:70px;
		top:0px;
		left:2%;
		display: inline-block;
		font-size: 0px;
	  	font-weight: 0px;
	  	color: rgb(209,209,217);
	  	text-decoration: none;
	  	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	  	padding: .0em 1em;
	  	outline: none;
	  	border-radius: 0px;
	  	background: rgb(0, 100, 0);
	  	box-shadow:none;
	  	transition: .2s ease-in-out;
	  	position:fixed;
	  	animation-name:button;
	  	animation-duration: 0.5s; 
	}
	 @keyframes button{
	 	0%{ background: rgb(0, 100, 0) ; }
	 	25%{ background: rgb(0, 80, 0) ; }
	 	50%{ background: rgb(0, 60, 0) ; }
	 	75%{ background: rgb(0, 40, 0) ; }
	 	100%{ background: rgb(0, 20, 0) ; }
	 }
  }
}
